#panels-area {
    height: 600px;
}

#app {
    width: 800px;
}


.panelline {
    clear: both;
}

.panel {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    width: 80px;
    height: 80px;
}

.panel-char {
    text-align:center;
    margin: 0px;
    padding: 13px;
    color: white;
}

.default {
    background-color:#666;
}

.right {
    background-color:green;
}

.near {
    background-color:orange;
}

.failed {
    background-color:darkgray;
}

body {
    font-family: 'Noto Sans JP';
}